@(list: Option[Seq[SqlQuery]])

@main("Welcome to Play") {

<div class="container">
	<div class="row">
		 <div class="col-md-9">
		<a  class="btn btn-success" href="@routes.SqlQueryContr.newQuery">Add</a>
		 @if(!list.isEmpty){
		<table class="table table-striped">
				<tbody>
		   
		      @list.get.map { l =>
		    	<tr>
		    	<td>@l.name</td>
		    	<td>@l.query</td>
		    	<td><a href="/get?name=@l.name">/get?name=@l.name</a></td>
		    	<td><a href="/jsonD/@l.name"/>/jsonD/@l.name</a></td>
		    	
		    	</tr>
		      }
		      </tbody>
		  </table>    
		    }
		    </div>
		     <div class="col-md-3">
	<p class="text-info">
	{d} - it is dynamic parameter <br/>
	Example:<br/>
	table_getById({a}) - url name<br/>
	select * from table where id={a} - query<br/>
	</p>	     
		     </div>
	</div>
	
</div>
}
