@(name: String, queryForm: Form[SqlQuery])

@import helper._

@main("Welcome to Play") {
<div class="container">
	<div class="row">
@helper.form(action = routes.SqlQueryContr.save(name)) {
        
        <fieldset>
            <legend></legend>
            
         @inputText(
                queryForm("cName"), 'class -> "form-control",
                '_label -> Messages("common.name")
            )     
            
			@inputText(
                queryForm("cQuery"), 'class -> "form-control",
                '_label -> Messages("common.name")
            )            
        </fieldset> 
            
        <div class="actions">
            <input type="submit" value="@Messages("common.save")" class="btn primary"> 
            <a href="/" class="btn">cancel</a> 
        </div>
        
    }
    </div>
</div>
  
}
